* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f1f1f;
    font-family: sans-serif;
    position: relative;
}

header {
    position: fixed;
    height: 40px;
    border-bottom: solid 2px;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    
}
header nav a{
    text-decoration: none;
    color: #000;
    margin: 0px 30px;
}

.hero {
    background-color: #fff;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero .tit{
    font-weight: bold;
    font-size: 4.1rem;
}

.hero p{
    font-size: 1.2rem;
}


.herbutt{
    display: flex;
    margin-top: 20px;
}

.hbt_1{
    border: solid 2px #333;
    border-radius: 6px;
    margin: 10px 20px;
    padding:5px 10px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}
.hbt_1:hover{
    background-color: #333;
    color: #fff;
}

.tras{
    height: 400px;
}